doctype html
head
    link(rel='stylesheet', href='./styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
body
    div(class="principal-container")
        div(class="logo-container")
            img(src="https://cdn1.iconfinder.com/data/icons/user-pics/512/user_remove-512.png", alt="key", class="logo-image")
        div(class="user-name-container")
            div(class='thanks-container')
                h2(class='thanks-text') See ya #{match}