doctype html
head
    link(rel='stylesheet', href='styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
body
    div(class="principal-container")

        div(class="logo-container")
            img(src="https://cdn2.iconfinder.com/data/icons/4web-3/139/header-account-image-line-512.png", alt="key", class="logo-image")
        div(class="user-name-container")
            div 
                h2(class='welcome-text') If you want to search for a contact enter the name:
            div
                form(class='seek-container', action="/get", method="POST",id='form')
                    input(type="text" name="user_name", placeholder="Your name", class='read-input-form')
                    input(class="a-buttons", style={padding:'2%'},type="submit",value="Search")

                