doctype html
head
    link(rel='stylesheet', href='styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
body
    div(class="principal-container")
    
        div(class="logo-container")
            img(src="https://image.flaticon.com/icons/png/512/45/45259.png", alt="key", class="logo-image")

        div(class='text-container')
            h2(class="welcome-text") Welcome to the secret key 
            h2(class="welcome-text") Choose an action
        div(class='buttons-container')
            a(href="/post",class='a-buttons') Create
            a(href="/get",class='a-buttons') Read
            a(href="/put",class='a-buttons') Update
            a(href="/delete",class='a-buttons') Delete
      
             

