doctype html
head
    link(rel='stylesheet', href='styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
body
    div(class="principal-container")
        div(class="logo-container")
            img(src="https://image.flaticon.com/icons/png/512/64/64886.png", alt="key", class="logo-image")
block content