doctype html
head
    link(rel='stylesheet', href='styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
body
    div(class="principal-container")
        div(class="logo-container")
            img(src="check.png", alt="key", class="logo-image")
        div(class="user-name-container")
            div(class='thanks-container')
                h2(class='thanks-text') Thanks for trust in us!
            div(class='mesagge-container')
                p(class='label-user-name') #{userName}  #{lastName}
       

    