.principal-container{

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .logo-container{
  
    border: solid 5px gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-width: 25%;
  }
  .logo-images{
  
  flex-basis: 5%;
  min-width: 100%;
  }