.principal-container{

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .logo-container{
  
    margin-top: 5%;
    border: solid 5px gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-width: 25%;
    flex-grow: 2;
  }

  .logo-image{
  
  flex-basis: 2%;
  min-width: 100%;

  }

  .text-container{

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome-text{
    font-family: 'Playfair Display', serif;
    font-size: 190%;
  }
  .form-container{
  
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
  }
  .input-form{
  
   
    min-width: 400%;
    height: 40px;
    margin-bottom: 5%;
    border-style: dotted;
    border-color: rgba(238, 174, 13, 0.815);
  }

  .seek-container{

    display:flex;
    flex-direction: column;
  }
  .read-input-form{

    min-width: 50%;
    height: 40px;
    margin-bottom: 5%;
    border-style: dotted;
    border-color: rgba(238, 174, 13, 0.815);
  }
  
  .button{
  
    font-size: 300%;
    font-family: 'Playfair Display', serif;
    border-style: none;
    margin-right: 1%;
    background: gold;
  }
  
  .button:hover{
    background:goldenrod;
  }


  /* ----------------------------------------------------------------------------------- */ 

  .label-user-name{

    font-size: 200%;
    font-family: 'Playfair Display', serif;

  }

  .user-name{

    font-size: 200%;
    font-family: 'Playfair Display', serif;
  }

  .label-user-pass{

    font-size: 200%;
    font-family: 'Playfair Display', serif;

    
  }

  .user-pass{

    font-size: 200%;
    font-family: 'Playfair Display', serif;

  }

  .thanks-text{
    font-family: 'Playfair Display', serif;
    font-size: 290%;
  }

  .mesagge-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .user-name-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  /*---------------------------------------------------------------------------------------------------------------------------------------------

               ESTILOS VENTANA INICIAL!

  -----------------------------------------------------------------------------------------------------------------------------------------------

*/

.buttons-container{

  display: flex;
  flex-direction: row;
  margin-left: 0%;
  margin-top: 2%;
  justify-content: center;
}

.a-buttons{

  text-decoration: none;
  text-emphasis: none;
  font-size: 200%;
  font-family: 'Playfair Display', serif;
  border-style: none;
  margin-right: -2%;
  background: gold;
  padding: 5%;
  color: black;
}
.a-buttons:visited{

  color: black;
}
.a-buttons:hover{
  background:goldenrod;
}